.Democrat.bar {
  fill: #003399;
}
.Republican.bar{
  fill: #990000;
}


.axis {
  font: 10px sans-serif;
}

.x.axis path {
  display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.grid .tick {
    stroke: white;
    stroke-opacity: 2;
    shape-rendering: crispEdges;
}

#vPd_charts svg{
	background-color: "#FFF";
}

.hoverBox{
	fill: none;
	stroke: none;
	stroke-width: 1px;
	opacity: .8;
}
.hoverBox_text{
  display: none;
}

#circleSvg{
	width: 800px;
	height: 500px;
}
#circleDem_labels tspan,
#circleRep_labels tspan {
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size:10px;
    fill:#6D6E71;
}

#circleDem_values tspan,
#circleRep_values tspan {
    font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 9px;
    font-weight:bold;
    fill:#000;
}
#circleDem_values tspan {
    fill: #7D3A4D;
}
#circleRep_values tspan {
    fill: #684E88;
}

@keyframes dropIn {
  0%{
    transform: translateY(-50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
    transform: none;
  }
}

#usamap {
    animation-name: dropIn;
    animation-duration: 2s;
}


.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

